.navbar {
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  background-color: #333; /* Change the background color */
  color: #fff; /* Change text color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  z-index: 1000; /* Ensure it's above other elements */
}

.navbar a {
  color: #fff; /* Change link color */
  text-decoration: none;
  margin: 0 15px; /* Adjust spacing between links */
  font-weight: bold;
  transition: color 0.3s ease; /* Add a smooth color transition */
}

.navbar a:hover {
  color: #ff9900; /* Change link color on hover */
}

.add-movie {
  text-align: center;
  padding: 8px;
  width: 200px;
  position: fixed;
  background-color: #fff; /* Change background color */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-bottom: 50px;
  z-index: 1000; /* Ensure it's above other elements */
}

.add-movie:hover {
  background-color: #f0f0f0; /* Change background color on hover */}